@font-face{font-family:"Hanken Grotesk";src:url("HankenGrotesk%5Bwght%5D.ttf");font-weight:100 900;font-display:swap;}
@font-face{font-family:"Newsreader";src:url("Newsreader%5Bopsz,wght%5D.ttf");font-weight:200 800;font-display:swap;}
@font-face{font-family:"Bricolage Grotesque";src:url("BricolageGrotesque%5Bopsz,wdth,wght%5D.ttf");font-weight:200 800;font-display:swap;}
@font-face{font-family:"IBM Plex Sans";src:url("IBMPlexSans%5Bwdth,wght%5D.ttf");font-weight:100 700;font-display:swap;}
@font-face{font-family:"IBM Plex Mono";src:url("IBMPlexMono-Regular.ttf");font-weight:400;font-display:swap;}
@font-face{font-family:"IBM Plex Mono";src:url("IBMPlexMono-Medium.ttf");font-weight:500;font-display:swap;}